workflows/1_Demo___Async_Workflow.json
{
  "name": "1 Demo - Async Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -620,
        -40
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9310d9d4-dc41-4186-a2fb-973f0b599d5a",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -360,
        340
      ],
      "webhookId": "9310d9d4-dc41-4186-a2fb-973f0b599d5a"
    },
    {
      "parameters": {
        "url": "https://9479-47-11-196-56.ngrok.io/api/firstAPICall",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -200,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"next\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -40,
        340
      ]
    },
    {
      "parameters": {
        "url": "https://9479-47-11-196-56.ngrok.io/api/secondAPICall",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        160,
        120
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error occurred!"
      },
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        160,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "const executionId = $executionId;\n\nreturn [{json:{executionId}}];"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        320,
        120
      ]
    },
    {
      "parameters": {
        "url": "https://9479-47-11-196-56.ngrok.io/api/asyncAPICall",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "executionId",
              "value": "={{$json[\"0\"][\"json\"][\"executionId\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        120
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        640,
        120
      ],
      "webhookId": "fb299963-feb0-404d-b827-8fa54d7a38e9"
    },
    {
      "parameters": {
        "url": "https://9479-47-11-196-56.ngrok.io/api/successAPICall",
        "options": {}
      },
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        800,
        120
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "id": 1,
  "tags": []
}